
.display-item-outer-wrapper {
  margin-top: 1em;
}

.display-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 90px;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: var(--background-primary);;
  color: var(--text-secondary);
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 2px;  
  margin-bottom: 0.5em;

}

.date-container .dot {
  font-size: 7px;
  color: var(--text-secondary);
}

.call-info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 1em;
  height: 60%;
  width: 90%;
  border: 1px solid rgba(128, 128, 128, 0.39);
  border-radius: 12px;
  background-color: white;
}

.call-direction {
  display: flex;
  justify-content: center;
  width: 15%;
}

.call-direction img {
  height: 20px;
}

.call-person-info-container {
  height: 75%;
  width: 60%;
}

.call-person-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  font-weight: 600;
}

.call-person-info .call-source {
  color: #494949;
  font-size: 15px;
}
.call-person-info .call-action {
  color: var(--text-secondary);
  font-size: 12px;
}


.separator {
  width: 8%;
  transform: rotate(90deg);
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-time {
  width: 20%;
  color: var(--text-secondary);
  font-size: 12px;
  font-weight: 600;
}