@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;800&display=swap');



:root {
  --secondary-color: #FC5624;
  --background-primary: rgb(246, 246, 246);
  --text-primary: #494949;
  --text-secondary: rgba(128, 128, 128, 0.788);
}

#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: 'Montserrat', sans-serif;
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  background-color: var(--background-primary);
}

#app .container-view-wrapper {
  height: 90%;
  overflow-y: scroll;
}

#app .container-view-wrapper::-webkit-scrollbar {
  display: none;
}

#app .container-view {
  background-color: var(--background-primary);
  height: fit-content;
}

#app .bottom-nav-wrapper {
  height: 10%;
  display: flex;
  justify-content: center;
}


